@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("fonts/robotomedium.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("fonts/robotobold.woff2");
  font-display: swap;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-wrapper {
  background-color: #EEEEEE;
}

.page-header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}

.navigation-logo {
  margin-right: 202px;
}

.navigation {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item-content {
  display: block;
  margin-right: 45px;
  padding-top: 26px;
  padding-bottom: 9px;
  text-decoration: none;
  text-transform: uppercase;
}

.shopping-cart-wrapper {
  margin-left: auto;
}

.shopping-cart {
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.index-slider-wrapper {
  background-color: #EEEEEE;
}

.index-slider {
  position: relative;
  display: flex;
  width: 1157px;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 80px;
}

.index-slider::before {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 431px;
  background-image: url("../images/nerds-index-slide1.png");
  background-repeat: no-repeat;
  content: "";
}

.index-slider-text-block {

}

.index-slider-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.index-slider-description {
  margin: 0;
  margin-bottom: 38px;
}

.index-slider-button-wrapper {
  z-index: 1;
  align-self: flex-end;
  margin-left: 139px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.button-red {
  display: inline-block;
  width: 240px;
  padding: 17px 0 15px;
  background-color: #FB565A;
  border: 0;
  border-radius: 3px;
}

.services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-info-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-info-work-sphere-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.about-advantages-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.row-percentage {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

.about-advantages-statistics-percentage {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}

.contacts-information-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-information-card-description-adress,
.contacts-information-card-description-phone {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-promo-description {
  line-height: 22px;
  color: #444444;
}

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.field-group-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.feedback-form-field {
  line-height: 18px;
  color: #444444;
}

.catalog-page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-label {
  line-height: 22px;
}

.range-input {
  line-height: 22px;
}

.control-label {
  line-height: 20px;
}

.button-grey {
  color: #000000;
}

.sorting-container-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.range-type-text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.template-catalog-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-catalog-item-description {
  line-height: 18px;
  color: #666666;
}

.catalog-pagination {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}