@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --basic-green-hover: #00bc6c;
  --basic-green-active: #00aa62;
  --basic-yellow-hover: #eab534;
  --basic-yellow-active: #e5a722;
  --light-gray: rgba(255, 255, 255, 0.3);
  --background-gray: #eeeeee;
  --basic-gray2: #dfdfdf;
  --basic-gray3: #d5d5d5;
  --gray-active: rgba(0, 0, 0, 0.3);
  --gray-hover: rgba(0, 0, 0, 0.6);
  --basic-gray-shadow: rgba(0, 1, 1, 0.1);
  --border-gray: #dbdbdb;
  --products-text: #666666;
  --products-description-gray: #4d4d4d;
  --social-gray: #e1e1e1;
  --form-checkbox: #e3e3e3;
  --range-gray: #d7dcdf;
  --range-green: #00ca74;
  --toggle-gray: #ababab;
  --toggle-shadow: #cfcfcf;
  --price-controls-color: #283136;
  --slider-button: #c4c4c4;
  --modal-input: #d7dcde;
  --modal-input-hover: #b4b9bb;
  --close-button: #feccce;
  --close-button-active: #ffeeef;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-wrapper {
  background-color: #EEEEEE;
}

.page-header {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
}

.navigation-logo {
  margin-right: 202px;
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-item-content {
  display: block;
  margin-right: 45px;
  padding-top: 26px;
  padding-bottom: 9px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.navigation-item-current {
  border-bottom: 2px solid #FB565A;
}

.shopping-cart-wrapper {
  margin-left: auto;
}

.shopping-cart {
  position: relative;
  display: block;
  padding-top: 26px;
  padding-bottom: 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.shopping-cart::before {
  content: "";
  position: absolute;
  top: 33px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url("../images/shopping-cart-icon.svg");
  background-repeat: no-repeat;
}

.index-slider-wrapper {
  background-color: #EEEEEE;
}

.index-slider {
  position: relative;
  width: 1158px;
  margin: 0 auto;
}

.index-slider-item {
  position: relative;
  padding-top: 78px;
  padding-bottom: 80px;
}

.slider-smartphone::before {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 431px;
  background-image: url("../images/nerds-index-slide1.png");
  background-repeat: no-repeat;
  content: "";
}

.slider-monitor::before {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 431px;
  background-image: url("../images/nerds-index-slide2.png");
  background-repeat: no-repeat;
  content: "";
}

.slider-tablet::before {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 760px;
  height: 431px;
  background-image: url("../images/nerds-index-slide3.png");
  background-repeat: no-repeat;
  content: "";
}

.index-slider-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.index-slider-description {
  margin: 0;
  margin-bottom: 38px;
}

.index-slider-button-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 317px;
  left: 536px;
  width: 88px;
  z-index: 1;
}

.index-slider-button-wrapper button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.index-slider-button-current::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 2px;
  height: 2px;
  background-color: transparent;
  border: 3px solid var(--slider-button);
  border-radius: 50%;
}

.services {
  width: 1158px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #EEEEEE;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 100px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item-image {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services-item-description {
  margin: 0;
  margin-bottom: 32px;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 73px;
}

.about-info {
  display: flex;
  flex-direction: column;
  padding-top: 34px;
}

.about-info-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-info-description {
  margin: 0;
  margin-bottom: 40px;
}

.about-info-work-sphere-title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.about-info-work-sphere-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-info-work-sphere-list li:not(:last-child) {
  margin-bottom: 23px;
}

.about-info-work-sphere-item {
  position: relative;
  padding-left: 37px;
}

.about-info-work-sphere-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #FB565A;
}

.about-advantages {
  display: flex;
  flex-direction: column;
}

.about-advantages-logo {
  margin-bottom: 37px;
}

.about-advantages-caption {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.about-advantages-statistics-data-cell {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.row-percentage {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

.about-advantages-statistics-percentage {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}

.clients {
  width: 1158px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-top: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
}

.clients-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1158px;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 44px;
  list-style: none;
}

.clients-list-item {
  opacity: 20%;
}

.footer-contacts {
  position: relative;
  margin-bottom: 69px;
  z-index: 0;
}


.contacts-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1158px;
  margin: 0 auto;
  padding: 54px 0;
}

.contacts-information-card {
  display: flex;
  flex-direction: column;
  width: 219px;
  padding: 49px 50px 47px;
  background-color: #FFFFFF;
  z-index: 3;
}

.contacts-information-card-title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-information-card-description-adress,
.contacts-information-card-description-phone {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts-information-card-description-adress {
  margin: 0;
  margin-bottom: 18px;
}

.contacts-information-card-description-phone {
  margin-bottom: 37px;
}

.contacts-information-map-wrapper {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contacts-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.contacts-information-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer-info-wrapper {
  width: 1158px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.footer-info {
  display: flex;
  align-items: center;
  width: 1060px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #E1E1E1;
  border-radius: 50%;
  color: inherit;
}

.footer-promo-title {
  margin: 0;
  margin-bottom: 10px;
}

.footer-promo-description {
  margin: 0;
}

.footer-promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-promo-description {
  line-height: 22px;
  color: #444444;
}

.modal-container {
  width: 760px;
  margin: 0 auto;
  padding: 63px 100px 84px 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px -10px var(--basic-black);
  z-index: 4;
  display: none;
}

.modal-show {
  display: block;
}

.modal-content {
  position: relative;
}

.modal-title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  top: 22px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: var(--close-button);
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.field-group-wrapper {
  display: flex;
  justify-content: space-between;
}

.field-group {
  margin-bottom: 34px;
}

.field-group-feedback-letter {
  margin-bottom: 47px;
}

.field-group-label {
  display: block;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.feedback-form-field-login {
  display: block;
  width: 324px;
  padding: 16px;
  line-height: 18px;
  color: #444444;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
}

.feedback-form-field-email {
  display: block;
  width: 324px;
  padding: 16px;
  line-height: 18px;
  color: #444444;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
}

.feedback-form-field-feedback-letter {
  width: 760px;
  padding: 16px;
  line-height: 18px;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}

.page-title-container {
  padding-top: 78px;
  padding-bottom: 108px;
  background-color: var(--background-gray);
}

.catalog-page-title {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.catalog-products {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 60px;
}

.catalog-filter {
  width: 260px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-price {
  margin-bottom: 54px;
}

.catalog-filter-group-grid {
  margin-bottom: 47px;
}

.catalog-filter-group-features {
  margin-bottom: 50px;
}

.catalog-filter-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-title-price {
  margin-bottom: 48px;
}

.range {
  margin-bottom: 14px;
  padding: 39px 22px 39px 33px;
  background-color: var(--background-gray);
  border-radius: 3px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: var(--range-gray);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--range-green);
}

.range-toggle {
  position: absolute;
  padding: 2px;
  background-color: var(--toggle-gray);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: -10px;
}

.toggle-max {
  top: -9px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  line-height: 22px;
  text-transform: uppercase;
}

.range-input {
  width: 64px;
  margin-left: 8px;
  padding: 8px 8px;
  line-height: 22px;
  text-align: center;
  color: var(--price-controls-color);
  background-color: var(--background-gray);
  border-radius: 3px;
  border: none;
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  margin-bottom: 20px;
}

.control {
  position: relative;
  cursor: pointer;
  padding-left: 36px;
}

.control-mark-radio {
  content: "";
  position: absolute;
  left: 0px;
  top: -3px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--products-description-gray);
  border-radius: 50%;
  opacity: 40%;
}

.control-input[type="radio"]:checked+.control-mark-radio::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: var(--products-description-gray);
  border-radius: 50%;
}

.control-mark-checkbox {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../images/checkbox-off.svg");
  opacity: 40%;
}

.control-input[type="checkbox"]:checked+.control-mark-checkbox {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 25px;
  height: 23px;
  background-image: url("../images/checkbox-on.svg");
}

.control-label {
  line-height: 20px;
}

.button-grey {
  color: #000000;
}

.catalog-right-column {
  width: 760px;
}

.sorting-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 48px;
}

.sorting-container-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-container-range-type {
  display: flex;
  justify-content: space-between;
}

.sorting-container-range-type-list {
  display: flex;
  justify-content: space-between;
  width: 272px;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  list-style: none;
}

.sorting-container-direction-arrows {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.range-type-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--gray-active);
}

.range-type-link-current {
  color: var(--basic-black);
}

.direction-arrow-down {
  content: "";
  position: relative;
  top: 7px;
  width: 11px;
  height: 10px;
  background-image: url("../images/direction-arrow-down.svg");
  opacity: 20%;
}

.direction-arrow-current {
  opacity: 100%;
}

.direction-arrow-up {
  content: "";
  position: relative;
  top: 7px;
  transform: rotate(180deg);
  width: 11px;
  height: 10px;
  background-image: url("../images/direction-arrow-down.svg");
  opacity: 20%;
}

.template-catalog {
  margin-bottom: 54px;
}

.template-catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.template-catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.template-catalog-browser-stylization-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 13px 16px;
  background-color: var(--products-description-gray);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  list-style: none;
  opacity: 12%;
}

.template-catalog-browser-stylization-item {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.template-catalog-image {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.template-catalog-item-pop-up {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.template-catalog-item-content {
  box-sizing: border-box;
  width: 360px;
  padding: 26px 0 44px;
  text-align: center;
  background-color: var(--background-gray);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.template-catalog-item-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.template-catalog-item-title {
  margin: 0;
  margin-bottom: 12px;
}

.template-catalog-item-description {
  margin: 0;
  margin-bottom: 32px;
  line-height: 18px;
  color: #666666;
}

.catalog-pagination {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-pagination-list {
  display: flex;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination-item {
  margin-right: 11px;
}

.catalog-pagination-link {
  display: block;
  background-color: var(--background-gray);
  width: 50px;
  padding: 17px 0 15px;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: var(--basic-black);
  cursor: pointer;
}

.catalog-pagination-item-current {
  width: 44px;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-gray-shadow);
}

.button {
  display: inline-block;
  width: 240px;
  padding: 17px 0 15px;
  border: 0;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}

.button-red {
  background-color: #FB565A;
}

.button-green {
  background-color: #00CA74;
}

.button-yellow {
  background-color: #EFC849;
}

.button-services {
  width: 160px;
}

.button-contacts {
  width: 219px;
}

.modal-button {
  width: 260px;
}

.button-grey {
  width: 260px;
  color: var(--basic-black);
}

.template-catalog-button {
  align-self: center;
  width: 200px;
}

.navigation-logo:hover {
  opacity: 70%;
}

.navigation-logo:active {
  opacity: 30%;
}

.navigation-item-content:hover,
.shopping-cart:hover {
  color: #FB565A;
}

.navigation-item-content:active,
.shopping-cart:active {
  color: #000000;
  opacity: 30%;
}

.button-red:hover {
  background-color: #E74246;
}

.button-red:active {
  background-color: #D7373B;
  color: var(--light-gray);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}

.button-green:hover {
  background-color: var(--basic-green-hover);
}

.button-green:active {
  background-color: var(--basic-green-active);
  color: var(--light-gray);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}

.button-yellow:hover {
  background-color: var(--basic-yellow-hover);
}

.button-yellow:active {
  background-color: var(--basic-yellow-active);
  color: var(--light-gray);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}

.clients-list-item:hover {
  opacity: 100%;
}

.clients-list-item:active {
  opacity: 10%;
}

.footer-social-link:hover {
  background-color: #E74246;
}

.footer-social-link:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}

.footer-sociel-icon:active path {
  fill: var(--light-gray);
}

.modal-close-button:hover::after,
.modal-close-button:hover::before {
  background-color: var(--basic-red);
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  background-color: var(--close-button-active);
}

.feedback-form-field:hover {
  border-color: var(--modal-input-hover);
}

.feedback-form-field:focus {
  border-color: var(--basic-black);
}

.feedback-form-field:focus::placeholder {
  color: var(--basic-black);
}

.feedback-form-field-feedback-letter:hover {
  border-color: var(--modal-input-hover);
}

.feedback-form-field-feedback-letter:focus {
  border-color: var(--basic-black);
}

.feedback-form-field-feedback-letter:focus::placeholder {
  color: var(--basic-black);
}

.control-mark:hover,
.control-mark:focus {
  opacity: 100%;
}

.range-type-link:hover {
  color: var(--gray-hover);
}

.range-type-link:active {
  color: var(--basic-black);
}

.direction-arrow-down:hover,
.direction-arrow-down:focus,
.direction-arrow-up:hover,
.direction-arrow-up:focus {
  opacity: 50%;
}

.arrow-color:active {
  opacity: 100%;
}

.template-catalog-item:hover .template-catalog-item-pop-up {
  display: block;
}

.template-catalog-item:hover .template-catalog-browser-stylization-list {
  opacity: 100%;
}

.template-catalog-item-link:hover {
  color: var(--basic-red);
}

.template-catalog-item-link:active {
  color: var(--basic-black);
  opacity: 30%;
}

.template-catalog-button:active {
  color: var(--basic-white);
}

.button-grey:hover {
  background-color: var(--basic-gray2);
}

.button-grey:active {
  background-color: var(--basic-gray3);
  color: var(--gray-active);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}

.catalog-pagination-link:hover:not(.catalog-pagination-item-current) {
  background-color: var(--basic-gray2);
}

.catalog-pagination-link:active:not(.catalog-pagination-item-current) {
  background-color: var(--basic-gray3);
  color: var(--gray-active);
  box-shadow: inset 0px 3px 0px var(--basic-gray-shadow);
}